        <div class="sidebar" id="navbar">
            <nav class="sidebar-nav">
                <div>
                    <a href="{{ app.request.getSchemeAndHttpHost() ~ ('home') }}" class="sidebar-logo">
                        <i class="bi bi-app sidebar-logo-icon"></i>
                        <span class="sidebar-logo-name">Garage</span>
                    </a>

                    <div>
                        <li>
                            <button class="btn btn-toggle sidebar-link align-items-center rounded collapsed active only-active" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                <i class="bi bi-car-front-fill sidebar-icon"></i>
                                Products
                            </button>
                            <div class="collapse" id="dashboard-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pt-2 small">
                                    <li>
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ ('vehicle-new')}}" class="sidebar-sublink rounded">
                                            <i class="bi bi-plus-circle sub-sidebar-icon"></i>
                                            New Car
                                        </a>
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ ('home')}}" class="sidebar-sublink rounded sub-active">
                                            <i class="bi bi-car-front-fill sub-sidebar-icon"></i>
                                            All Cars
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </div>
                </div>
                <a href="{{ app.request.getSchemeAndHttpHost() ~ ('home') }}" class="sidebar-link my-3">
                    <i class="bi bi-box-arrow-left sidebar-icon"></i>
                    <span>Logout</span>
                </a>
            </nav>
        </div>